[2020-01-08 13:39] stodorovic commented on #401
@galbaras No worry, PR #436  synchronizes behavior between page and product sitemap. If you set shop page to _noindex_ then it'll be excluded from both sitemaps.

Only minor concern is related to duplicated URL in page sitemap. I was thinking to exclude it from page sitemap if it's shown in product sitemap. It's more "cosmetics".

[2020-01-09 07:25] #300 closed

[2020-01-09 09:06] johannadevos commented on #332
Both @jdevalk and myself couldn't replicate this issue in the `one.wordpress.test` installation. PHPUnit works without problems. Therefore, I'm closing this issue.

[2020-01-09 09:06] #332 closed

[2020-01-14 09:17] #466 closed

[2020-01-14 09:25] #412 closed

[2020-01-14 09:29] #240 closed

[2020-01-14 10:26] #73 closed

[2020-01-14 10:38] #401 closed

[2020-01-14 11:41] #456 closed

[2020-01-14 12:16] #399 closed

[2020-01-14 12:37] #336 closed

[2020-01-14 12:47] #358 closed

[2020-01-14 13:11] #313 closed

[2020-01-14 14:09] #366 closed

[2020-01-14 14:09] #348 closed

[2020-01-14 15:05] #354 closed

[2020-01-20 07:31] IreneStr opened #485 "Create 12.5-RC1"
### What did you expect to happen?

### What happened instead?

### How can we reproduce this behavior?

Can you provide a link to a page which shows this issue?

### Technical info
* WordPress version:
* Yoast SEO version:

[2020-01-21 09:18] #416 closed

[2020-01-21 12:53] #485 closed

[2020-01-22 07:49] Xyfi opened #489 "Create 12.5-RC2"

[2020-01-22 08:05] #489 closed

[2020-01-22 11:19] jdevalk commented on #317
@uprise10 could you test if this still doesn't work? Would be happy to fix it :)

[2020-01-22 13:24] jdevalk commented on #317
Awesome, closing.

[2020-01-22 13:24] #317 closed

[2020-01-22 14:44] sannevndrmeulen opened #491 "WooCommerce 12.5 generates a console log error"
While testing Yoast SEO: WooCommerce 12.5-RC2 I've run into an error on the Products page for WooCommerce. The error mentions our previous version, 12.4.1.

### How can we reproduce this behaviour?
1. With WooCommerce 3.9.0, Yoast SEO 13.0-RC1, and Yoast SEO: WooCommerce 12.5-RC2 active
2. When you navigate to the WooCommerce Products page
3. You'll see this error in the console log:
<img width="3

[2020-01-27 12:38] IreneStr opened #494 "Create 12.5-RC3"
### What did you expect to happen?

### What happened instead?

### How can we reproduce this behavior?

Can you provide a link to a page which shows this issue?

### Technical info
* WordPress version:
* Yoast SEO version:

[2020-01-27 12:53] hansjovis commented on #491
Fixed in https://github.com/Yoast/wpseo-woocommerce/pull/493.

[2020-01-27 13:49] #494 closed

[2020-01-27 14:30] dariaknl commented on #491
The error is reproduced after the fix:
<img width="1035" alt="Screenshot 2020-01-27 at 15 22 13" src="https://user-images.githubusercontent.com/19681708/73182730-da427e00-4119-11ea-8db7-e4cf1d4bc560.png">

[2020-01-28 07:19] dariaknl commented on #491
fixed in RC3.

[2020-01-28 07:19] #491 closed

[2020-01-28 07:25] dariaknl opened #495 "New GTIN, ISBN and MPN fields cannot be changed"
### How can we reproduce this behavior?
1. Install and activate Yoast SEO 13.0 RC1.
2. Install and activate Yoast SEO: WooCommerce 12.5 RC3.
3. Install and activate WooCommerce 3.9.0.
4. Go to create new product, add title, price and in new Yoast SEO product data tab add GTIN8:
<img width="614" alt="Screenshot 2020-01-28 at 08 21 51" src="https://user-images.githubusercontent.com/19681708/73243188

[2020-01-28 08:53] Djennez opened #496 "Empty retailer_item_id output on empty SKU"
### What did you expect to happen?

When a product SKU is not set, its metadata to not be output on the product page.

### What happened instead?

An empty SKU will show `<meta property="product:retailer_item_id" content="" />` in the page code.

### How can we reproduce this behavior?

1. Create a product in WooCommerce
2. Do not fill out the SKU
3. Check the product page and see the correspondin

[2020-01-28 09:02] Djennez opened #497 "Structured data: seller defaults to organization"
### What did you expect to happen?
When my website is set to represent a person, I expect the seller of a product in WooCommerce to not be an organisation.

### What happened instead?
The plugin forces the seller in the structured data to be an organization, even if the website is set to represent a person:

[code]

### How can we reproduce this behavior?

1. Set your website to represent a person

[2020-01-28 09:46] dariaknl opened #498 "productID shown when SKU filled in"
### How can we reproduce this behavior?
1. Install and activate Yoast SEO 13.0 RC1.
2. Install and activate Yoast SEO: WooCommerce 12.5 RC3.
3. Install and activate WooCommerce 3.9.0.
4. Go to create new product, add title and price.
5. Publish product and grab schema - `productID` is not shown.
According to https://github.com/Yoast/wpseo-woocommerce/pull/460 `productID` should be output.

6. Go t

[2020-01-28 10:33] dariaknl commented on #496
Small update: when you fill SKU in product Inventory, then `product:retailer_item_id` is filled in:
<img width="807" alt="Screenshot 2020-01-28 at 10 43 56" src="https://user-images.githubusercontent.com/19681708/73256227-d702cd00-41c1-11ea-9b04-5f7e8cc6911a.png">

[2020-01-28 12:53] dariaknl opened #499 "Inconsistency in offer and review ids"
### How can we reproduce this behavior?
1. Install and activate Yoast SEO 13.0 RC1.
2. Install and activate Yoast SEO: WooCommerce 12.5 RC3.
3. Install and activate WooCommerce 3.9.0.
4. Go to create new product, add title and price.
5. Publish product and add reviews.
6. Grab the whole schema and check the output:

Offer and review `ids` which are introduced here https://github.com/Yoast/wpseo-wo

[2020-01-28 13:33] jdevalk commented on #499
It's inconsistent but doesn't matter :)

[2020-01-28 13:33] #499 closed

[2020-01-28 13:35] jdevalk commented on #497
This is by design, as the seller can't be a person according to Google.

[2020-01-28 13:35] #497 closed

[2020-01-28 14:01] jono-alderson opened #500 "Remove productID schema attribute"
We recently introduced a `productID` property on `product` pieces. Further investigation has revealed that this is unnecessary, and may result in undesirable complexity.

The attribute should be removed.

[2020-01-28 14:01] jono-alderson commented on #498
We're planning to remove the `productID` attribute - see https://github.com/Yoast/wpseo-woocommerce/issues/500

[2020-01-28 14:58] andizer opened #501 "Handle the permalink saves of WooCommerce fields."
We should listen to the option change of `woocommerce_permalinks` and then reset the permalinks for the things that got changed. This need some calculation of difference between the old and new option value.

Also to integrate fully with https://github.com/Yoast/wordpress-seo/pull/14275 we have to remove the product from the post types array:
[code]

~We should find a way to make `reset_permalink_

[2020-01-29 08:16] Djennez opened #502 "WooCommerce breadcrumbs not replaced"
### What did you expect to happen?
After enabling the WPSEO WooCommerce option to replace the WooCommerce breadcrumbs with the Yoast ones, for that to work.

### What happened instead?
The WC breadcrumbs were not replaced.

### How can we reproduce this behavior?
1. Set up a store with the needed plugins (see below).
2. Use the Storefront theme (as that will have WC breadcrumbs)
3. Enable `Replace

[2020-01-29 10:59] jdevalk commented on #495
Correction: it can be _changed_ it cannot be _emptied_. Fixing.

[2020-01-29 12:25] jdevalk commented on #495
Fixed by #503

[2020-01-29 12:25] #495 closed

[2020-01-29 12:25] jdevalk commented on #496
Fixed by #504

[2020-01-29 12:25] #496 closed

[2020-01-29 13:18] dariaknl commented on #498
fixed in #505

[2020-01-29 13:18] #498 closed

[2020-01-29 14:09] dariaknl commented on #502
Fixed by #507

[2020-01-29 14:09] #502 closed

[2020-01-29 14:19] jdevalk commented on #500
Fixed by #505

[2020-01-29 14:19] #500 closed

[2020-01-30 10:39] jono-alderson opened #508 "[WIP] Alter meta and schema properties on product variation pages"
For products with variations, Woo exposes a unique URL for each variation. However, we don't update/reflect the selected product variation in our meta or schema properties.

We should update our properties on variation pages in order to provide future support for Google Merchant Centre / Facebook Marketplace extraction.

## The brief
On product variation pages:
- [ ] Update the post object used to

[2020-01-30 10:40] jono-alderson commented on #508
cc @jdevalk for thoughts and feedback.

[2020-01-30 11:16] jono-alderson opened #509 "Change product piece behaviour when an ISBN value is set"
We allow users to specify product ID values in multiple formats, including ISBN. ISBN values are only used for books, and precludes the use of other ID types.

When an ISBN value is set, then:
- The `product` piece should be altered to a dual type of `[product, book]`.
- All other ID values (gtin variants, etc) should be un-set.

[2020-02-03 08:19] johannadevos commented on #501
For inspiration for comparing the old and new option value, see `src/integrations/watchers/indexable-post-type-archive-watcher.php` (renamed to `src/integrations/watchers/wpseo-titles-option-watcher.php` and extended in [this PR](https://github.com/Yoast/wordpress-seo/pull/14317)).

[2020-02-03 08:27] johannadevos commented on #501
In the PR I mentioned above I made a function for this: `has_option_value_changed`.

[2020-02-03 12:55] IreneStr commented on #501
More inspiration: https://github.com/Yoast/wordpress-seo/issues/13800

[2020-02-06 13:50] dariaknl opened #514 "Attributes with archives are included and without archives not included"
Comes from testing of https://github.com/Yoast/wpseo-woocommerce/pull/488

### How can we reproduce this behavior?
1. Install and activate Yoast SEO 13.0.
2. Install and activate WooCommerce 3.9.1.
3. Install and activate Yoast SEO: WooCommerce 12.5.1.
4. Create product atributes as described in https://kb.yoast.com/kb/how-to-add-custom-attributes-to-your-products/.
5. Set Branch to `Enable archiv

[2020-02-06 14:14] dariaknl opened #515 "Price in Schema and OpenGraph with tax option not shown"
Testing of https://github.com/Yoast/wpseo-woocommerce/pull/490

### How can we reproduce this behavior?
1. Install and activate Yoast SEO 13.1 RC1.
2. Install and activate WooCommerce 3.9.1.
3. Install and activate Yoast SEO: WooCommerce 12.6 RC1.
4. Go to Woocommerce and enable tax
<img width="738" alt="Screenshot 2020-02-06 at 15 12 00" src="https://user-images.githubusercontent.com/19681708/739

[2020-02-06 14:17] dariaknl commented on #514
Expected behavior. Apparently in 12.5.1 `pa_brand.xml `was generated.
In 12.6 the change is that `pa-brand.xml` is generated.
The rest of behavior stays the same as in 12.5.1.

[2020-02-06 14:17] #514 closed

[2020-02-06 14:22] Pcosta88 commented on #508
related https://github.com/Yoast/featurerequests/issues/434

[2020-02-06 14:39] dariaknl commented on #515
solved by configuration https://github.com/Yoast/wpseo-woocommerce/pull/490#issuecomment-582933357

[2020-02-06 14:39] #515 closed

[2020-02-07 08:19] IreneStr opened #524 "Create WooCommerce 12.6-RC2"
This RC includes the 12.5.1 patch, https://github.com/Yoast/wpseo-woocommerce/pull/523 and https://github.com/Yoast/wpseo-woocommerce/pull/513

[2020-02-07 10:01] hansjovis commented on #524
Created the RC: https://github.com/Yoast/wpseo-woocommerce/releases/tag/12.6-RC2

[2020-02-07 10:01] #524 closed

[2020-02-08 04:25] galbaras opened #526 "Sale price, regular price and priceValidUntil"
### What did you expect to happen?
Sales normally have a validity period, so there should be a field for it in products/variations.

When a product is on sale, its schema markup should include both the regular price and the sale price, similar to Google's specifications for product feeds.

### What happened instead?
priceValidUntil was just removed from the plugin, and only a single price appears

[2020-02-08 04:32] Flobaby commented on #526
Thanks for starting this thread. Yep, Google is giving me validation problems for priceValidUntil. Just to add my 2 cents. :)

[2020-02-08 12:46] cavalierlife commented on #526
+1 . Please undo the change made in the latest version. Two days ago I posted the following in the wp.org support forum. Will repost here:

Yesterday’s Yoast changelog includes: “Removes the priceValidUntil attribute, as it’s not sensible.”

_Today, my client gets an email from Google that says

Search Console has identified that your site is affected by 1 Products issues:

Top Warnings

Warnings

[2020-02-09 18:10] Flobaby opened #527 "Getting this error in search console"
### What did you expect to happen?
Yoast SEO Woocommerce plugin is supposed to alleviate this "“Either ‘offers’, ‘review’ or ‘aggregateRating’ should be specified”  according to this page https://yoast.com/search-console-showing-errors-in-your-product-structured-data/

### What happened instead?
Was not a problem before but yesterday started getting numerous errors with “Either ‘offers’, ‘review’

[2020-02-10 07:31] Djennez commented on #527
Hi @Flobaby, this is a premium product support question and not a bug report. Please contact our support engineers, as they will gladly help you out with this question.

[2020-02-10 07:31] #527 closed

[2020-02-10 09:35] Djennez commented on #526
Hmm, it's a bug that we don't show the `priceValidUntil` on (scheduled) sale products. So I'll mark this as bug specifically for that case. It is, however, intentional to not show this value on every product page, as it makes no sense on products that have a fixed price.

[2020-02-10 11:07] galbaras commented on #526
Thanks.

I think the removal could have been documented better. Reference to "regular price" would have made sense to everyone, I'm sure, especially after sale prices get the attribute back.

[2020-02-10 12:44] hansjovis commented on #501
Fixed in https://github.com/Yoast/wpseo-woocommerce/pull/525

[2020-02-10 12:44] #501 closed

[2020-02-10 15:32] Pcosta88 commented on #526
Please inform the customer of conversation # 582990 when this conversation has been closed.

[2020-02-10 15:32] Pcosta88 commented on #526
Please inform the customer of conversation # 583176 when this conversation has been closed.

[2020-02-10 18:36] Pcosta88 commented on #508
related https://github.com/Yoast/featurerequests/issues/440

[2020-02-18 08:58] hansjovis opened #529 "Release WooCommerce Yoast SEO 12.6"

[2020-02-18 14:32] #529 closed

[2020-02-18 15:33] rmarcano commented on #526
Please inform the customer of conversation # 586319 when this conversation has been closed.

[2020-02-19 02:26] galbaras commented on #526
I was really hoping to see that this has been closed in 12.6 :(

[2020-02-20 10:05] jono-alderson commented on #469
Dependent upon https://github.com/Yoast/wpseo-woocommerce/issues/508

[2020-02-20 16:03] Pcosta88 commented on #508
related https://github.com/Yoast/featurerequests/issues/449

[2020-02-24 14:09] afercia commented on #526
Looking at what Woo does, all products _including the ones on sale_ get a `priceValidUntil` date defaulting to last day of next year e.g. `2021-12-31`.

Given that, please clarify when a `priceValidUntil` property should be output:
- The product is on sale regardless of whether the sale price dates were set. In this case:
  - if users didn't explicitly set the sale price dates values, `priceValidU

[2020-02-24 14:28] jono-alderson commented on #526
The second approach - only when it's on sale, and we have an explicit.

[2020-02-25 01:03] galbaras commented on #526
@jono-alderson This will not prevent Google from issuing warnings about product schema, unfortunately. Are you guys communicating with them about this? After all, the main concern here is losing ranking points.

[2020-02-25 13:31] jono-alderson commented on #526
The warnings don't harm performance. We'd also like Google to make this more clear in their testing tools and documentation! :(

[2020-02-26 01:01] galbaras commented on #526
A change has been merged into trunk. Why is this issue still open? Can I help with anything?

[2020-02-26 06:07] galbaras opened #533 "New MPN, GTIN, etc inconsistent with other attributes"
### What did you expect to happen?

I expected the new SEO attributes for products to be available to my Google feed plugin for selection. This would have been possible if there were implemented as WooCommerce attributes.

### What happened instead?

The Yoast attributes are stored in separate meta records and the feed plugin cannot "see" them like it sees other attributes.

### How can we reprodu

[2020-02-26 08:12] afercia commented on #526
@galbaras thank you for all your feedback and dedication to this issue 🙂 No changes have been merged yet though. This issue will be closed as soon as https://github.com/Yoast/wpseo-woocommerce/pull/530 goes through our code review / acceptance process and merged.

[2020-02-27 12:19] johannadevos opened #535 "Create 12.6.1-RC1 for WooCommerce SEO"

[2020-02-27 12:19] johannadevos opened #536 "Create 12.6.1-RC2 for WooCommerce SEO"

[2020-02-27 21:01] rmarcano commented on #526
Please inform the customer of conversation # 589326 when this conversation has been closed.

[2020-02-27 21:39] jdevalk commented on #508
Blocking this until we find a way to fix this without exposing expontentially more product URLs to search engines (all current solutions would require exposing every product variation URL).

[2020-02-28 17:15] truchosky commented on #526
still warning, is not a fix for that?

[2020-03-03 10:32] johannadevos opened #540 "Update PR template"

[2020-03-03 17:21] afercia opened #541 "Use replacement variable labels for better clarity"
### What did you expect to happen?

Noticed while working on https://github.com/Yoast/featurerequests/issues/439 / https://github.com/Yoast/wpseo-woocommerce/pull/539

When adding the WooCommerce product replacement variables (see #159, #251, #539) the auto-complete suggestions show them only when typing `wc` as first characters:

<img width="768" alt="Screenshot 2020-03-03 at 17 40 25" src="https

[2020-03-04 09:12] dnusca opened #542 "[Request] Add a developer filter to control whether schema includes tax."
### What did you expect to happen?

The ability to choose whether the schema outputs the price and price offers including tax.

### What happened instead?

Since 12.6.1 the output of tax inclusive or exclusive is solely reliant on the the WooCommerce setting for displaying tax on shop pages and the option has been removed.

Google Shopping requires prices inclusive of tax for a majority of countri

[2020-03-04 09:59] afercia opened #543 "Improve product identifiers input validation"
Noticed while working on https://github.com/Yoast/wpseo-woocommerce/pull/539

### What did you expect to happen?

Input validation to help users submit valid values and give proper feedback for errors.

### What happened instead?

When entering product identifier values, input validation is sometimes a bit too much "aggressive". Apart from that, there's no feedback for users at all.

Specifically,

[2020-03-04 15:30] Djennez commented on #542
Hi @dnusca and thanks for your request. We hook into the WooCommerce `woocommerce_structured_data_product` filter:

https://github.com/Yoast/wpseo-woocommerce/blob/1b0432563cf93bcc6b500331677a3af3741c01cc/classes/woocommerce-schema.php#L35

You could hook into the same filter and overwrite the changes that we made. We currently don't have a filter to change this behavior in our addon.

[2020-03-04 18:03] dnusca commented on #542
Hi @Djennez,

We'd still like to use all the other data you add to the product schema, we just want to display inclusive while our WC shop setting is exclusive.

I understand linking it to the WooCommerce setting eliminates the decision from your plugin, but would you be open to allowing a developer filter here since it was previously an option?

Thanks for your time and answers

[2020-03-05 07:53] bobmulder opened #545 "Yoast SEO WooCommerce does not play nicely with Elementor"
### What did you expect to happen?

Hey there! I am using Elementor Pro (including the theme builder), in combination with WooCommerce, Yoast Premium and Yoast WooCommerce.

Thing is - as mentioned in my [issue at Elementor](https://github.com/elementor/elementor/issues/10748) - that Yoast WooCommerce hooks onto several actions (like `woocommerce_single_product_summary`), which are never executed

[2020-03-05 07:54] Djennez commented on #542
Yea, if you use the same filter on priority 11 or higher (so after our execution) you can change the same product details.

If this solves your question, can this issue be closed?

[2020-03-05 09:01] Djennez commented on #545
In your setup, is there *any* woocommerce product schema at all?

[2020-03-05 09:44] bobmulder commented on #545
I am sorry for the confusion Djennez, the following `@type`s are visible:
- `Website`
- `SearchAction`
- `ImageObject`
- `ItemPage`

As mentioned before, the `Product` type is missing

[2020-03-05 10:27] Djennez commented on #545
In that case WooCommerce's complete schema functionality seems to be ignored by your CPT. This means that we can't hook into WooCommerce at all. So this is not an issue with WooCommerce SEO (or even WooCommerce I think). If the CPT is not loading the needed WooCommerce functions there is nothing we can do about this :)

[2020-03-05 10:27] #545 closed

[2020-03-05 10:33] bobmulder commented on #545
That's what I thought, Djenniz, however I want to be sure this thought is right. I'll get back to Elementor (see my issue above) to see what they think about this.

Thank you for your attention!

[2020-03-05 12:54] dnusca commented on #542
Perfect, closing the issue.

[2020-03-06 12:36] dnusca commented on #542
Hi, so I have attempted this, however you return an empty array in your function so there is no data to edit at this point? Is this intentional?

https://github.com/Yoast/wpseo-woocommerce/blob/1b0432563cf93bcc6b500331677a3af3741c01cc/classes/woocommerce-schema.php#L133

[2020-03-09 10:07] Djennez commented on #542
Hmmm I see. @jdevalk if you have the time, could you provide insight in how developers might hook into this?

[2020-03-09 10:26] jdevalk commented on #542
Ah you're right @dnusca this one works differently from our other ones. We'll have to introduce a filter in the `output_schema_footer` function to be able to filter this. @Djennez can you make an issue for that?

[2020-03-09 11:28] Djennez opened #547 "Implement a hook to filter the WPSEO WooCommerce schema"
We allow filtering of the schema output in our core plugin, but the schema for WooCommerce goes around that filter and is therefore not editable by anything else than our plugin. It is also not sent back to WooCommerce so you can't hook into the same WooCommerce filter at a lower priority.

As suggested in https://github.com/Yoast/wpseo-woocommerce/issues/542#issuecomment-596446149 we should imple

[2020-03-09 12:23] Djennez commented on #547
Created a concept for this at https://github.com/Yoast/wpseo-woocommerce/commit/60224b2784cff1da024382f6eda7cb146fce9886 but I'm not sure if it needs additional sanitization.

[2020-03-09 16:30] dnusca commented on #542
Thanks @jdevalk and @Djennez

I will close this issue and track #547.

[2020-03-09 16:30] #542 closed

[2020-03-11 07:52] IreneStr opened #548 "Release 12.6.2"

[2020-03-11 08:27] IreneStr opened #550 "Create 12.6.2-RC1"

[2020-03-11 09:21] hansjovis commented on #550
Created the Release Candidate: https://github.com/Yoast/wpseo-woocommerce/releases/tag/12.6.2-RC1

[2020-03-11 09:21] #550 closed

[2020-03-11 13:04] hansjovis commented on #548
12.6.2 has been released!

[2020-03-11 13:04] #548 closed

[2020-03-12 09:54] dnusca commented on #547
Hi, just checking if this will likely be the approach? I would like to implement a temporary fix on my side so long.

[2020-03-12 10:16] johannadevos opened #552 "Add unit tests for `valueAddedTaxIncluded` Schema property"
### What did you expect to happen?
I expected to see that the `valueAddedTaxIncluded` would be tested in unit tests.

### What happened instead?
There are no unit tests in which `valueAddedTaxIncluded` is covered, even though this property was central in the patch release for PR #534.

### How can we reproduce this behavior?

Can you provide a link to a page which shows this issue?

### Technical

[2020-03-13 09:11] #526 closed

[2020-03-13 09:15] bobmulder commented on #545
@Djennez, as posted in elementor/elementor#10748, a temporary has been posted.

The result by now is that I got a Yoast Schema Graph on the top of my HTML (head) with general schema's (which is done by Yoast Premium, not Yoast WooCommerce), and a got a second Yoast Schema Graph on the bottom of my HTML (body) with the product specific schema's (which is done by Yoast WooCommerce through my custom

[2020-03-13 10:19] Djennez commented on #545
@bobmulder without alterations, there would be 2 schema blocks on WooCommerce pages as well. One in the head (Yoast) and one near the footer (Yoast + WooCommerce). Our plugin links elements from these sections together so it is no problem that these are output in different places.

[2020-03-14 12:32] bobmulder commented on #545
Thank you for your response @Djennez, it's all clear!

Sidenote: the Elementor team is investigating the issue I mentioned before, so I expect the Yoast WooCommerce plugin to work the right way soon.

[2020-03-16 09:40] hansjovis opened #554 "WooCommerce SEO: Create 12.7-RC1"

[2020-03-16 15:31] jono-alderson opened #555 "Alterations to product availability meta/schema"
We need to make some improvements to the logic which determines which meta tags and schema values are output on Woo product pages, specifically relating to product _availability_.

See https://developer.yoast.com/product-availability-woocommerce/ for further context.

## Requirements

### When a product is in stock
- Output a `og:availability` meta tag.

  E.g.. `<meta property="og:availability" c

[2020-03-17 13:12] #554 closed

[2020-03-17 14:15] dnusca commented on #547
Just checking in again to see if this will be included in 12.7?

[2020-03-18 09:12] Djennez commented on #547
I just looked at the planned changelog of 12.7 and this is not on there. I do not know what the planning will be for 12.8 and up.

[2020-03-18 09:27] dnusca commented on #547
Okay thanks for letting me know! We will look at using another plugin then.

[2020-03-18 14:49] afercia opened #557 "Fix empty and negative prices output everywhere"
### What did you expect to happen?
To have a meaningful price output when the price is empty or negative.

### What happened instead?
Depending also on the tax settings, the output isn't always meaningful.

### How can we reproduce this behavior?

First, it's important to understand what WooCommerce does:

**Empty prices**
The price is not output. There no "add to cart" button as well:

<img width

[2020-03-18 15:06] afercia commented on #555
To clarify:

I read this as we should output _only_ the `og:availability` meta tag.

Instead, this sounds like a `product:availability` > `in stock` is there.

I'm assuming we should output both, correct?

[2020-03-19 11:44] jono-alderson commented on #555
Yep. These requirements should be read as 'in addition to current behaviour', except for where instructions alter existing behaviour.

[2020-03-25 15:13] andizer opened #559 "Merge indexables branch to trunk"
We have to prepare the Yoast SEO for WooCommerce plugin to remain full compatibility with the upcoming Yoast SEO 14.0 release.

Todo:
- [ ] Set minimal version for Yoast SEO to 14.0
- [ ] Merge the `feature/indexable-frontend` branch into `trunk`

[2020-03-27 06:37] dariaknl opened #560 "Different warnings for empty products"
1. Install and activate Yoast SEO 13.3.
2. Install and activate Woocommerce 4.0.1.
3. Install and activate SEO Woocommerce 12.6.2.
4. Create empty product, do not add price.
5. Browse to product, add review, you get:

<img width="743" alt="Screenshot 2020-03-27 at 07 32 27" src="https://user-images.githubusercontent.com/19681708/77728605-21a39880-6ffd-11ea-8004-6df1a5ad871f.png">

[code]

6. Now i

[2020-03-27 11:06] afercia commented on #560
For future testing it's important to keep in consideration what WooCommerce does.

WooCommerce outputs the product Schema only if some "required" data are set. See

https://github.com/woocommerce/woocommerce/blob/1926a5042622980ce9b520e63b8cc30d917d4a07/includes/class-wc-structured-data.php#L323-L326

So there must be at least the `aggregateRating` markup, or the `offers` markup, or the `review` m

[2020-03-27 11:18] afercia commented on #560
Regarding the different warnings:

`filter_sales()` was added in 12.7 so there's one more `foreach` statement that tries to loop on a non-set value. That explains why on 12.7 there are two warnings and in  12.6.2 there's just one warning.

Regarding the PHP _notice_,  in my testing I'm getting the notice on both 12.6.2 and 12.7.

[2020-03-27 12:58] #560 closed

[2020-03-27 13:44] hansjovis opened #562 "Create 12.7-RC2"

[2020-03-27 14:05] hansjovis commented on #562
12.7-RC2 has been created:
https://github.com/Yoast/wpseo-woocommerce/releases/tag/12.7-RC2

[2020-03-27 14:05] #562 closed

[2020-03-30 13:03] johannadevos opened #563 "Release 12.7"

[2020-03-30 13:04] johannadevos opened #564 "Merge indexables branch to trunk and create RC for 13.0"
- [x] Set minimal version for Yoast SEO to 14.0
- [x] Merge `feature/indexables-frontend` to `trunk`
- [x] Create `release/13.0` from `trunk`
- [x] Create 13.0-RC1

[2020-03-31 11:59] hansjovis commented on #563
12.7 has been released: https://github.com/Yoast/wpseo-woocommerce/releases/tag/12.7

[2020-03-31 11:59] #563 closed

[2020-03-31 12:48] #559 closed

[2020-03-31 15:21] hansjovis commented on #564
13.0-RC1 has been created: https://github.com/Yoast/wpseo-woocommerce/releases/tag/13.0-RC1

[2020-03-31 15:21] #564 closed

[2020-04-01 07:13] dariaknl opened #565 "No notification to upgrade add on"
### How can we reproduce this behavior?
1. Install and activate SEO Woo 12.7.
2. Install and activate Yoast SEO 14.0.
See that you see no notification/warning for SEO Woo.
3. Go to create new post, browse to post - then you get
`Fatal error: Uncaught TypeError: Argument 1 passed to WPSEO_WooCommerce_OpenGraph::set_opengraph_image() must be an instance of WPSEO_OpenGraph_Image, instance of Yoast\WP

[2020-04-01 09:41] dariaknl commented on #565
opened in https://github.com/Yoast/wordpress-seo/issues/14689

[2020-04-01 09:41] #565 closed

[2020-04-01 13:13] andizer opened #566 "Adds logic to bring back the og metatags #802"
With the upcoming release of Yoast SEO 14.0 the filter wpseo_opengraph is deprecated. Woocommerce SEO is hooking into this filter for rendering OG metatags. We should replaces these by presenters.

For reference see:
https://github.com/Yoast/wpseo-woocommerce/blob/c0ea263345da47cb3b58c3855a5f03ee3cf5b0da/classes/woocommerce-opengraph.php#L21

https://github.com/Yoast/wpseo-woocommerce/blob/c0ea263

[2020-04-03 06:08] IreneStr opened #569 "Create 13.0-RC2 when #566 has been fixed"

[2020-04-07 08:48] igorschoester opened #577 "Create tests for the product presenters"
See implementation PR https://github.com/Yoast/wpseo-woocommerce/pull/568

There are tests missing for the presenters.

I just started with the brand presenter, so here is that in a text file (note the extension).
[product-brand-presenter-test.php.txt](https://github.com/Yoast/wpseo-woocommerce/files/4443022/product-brand-presenter-test.php.txt)

[2020-04-07 09:35] dnusca commented on #547
Hey folks, just checking if there is still plans to allow filtering here in an upcoming version?

[2020-04-07 11:06] igorschoester commented on #555
Please note the output of all this got changed to presenters for the indexables in the upcoming 13.0 release in #568

[2020-04-07 11:10] hansjovis commented on #566
Fixed in https://github.com/Yoast/wpseo-woocommerce/pull/568.

[2020-04-07 11:11] #566 closed

[2020-04-07 11:40] hansjovis commented on #569
13.0-RC2 has been created:
https://github.com/Yoast/wpseo-woocommerce/releases/tag/13.0-RC2

[2020-04-07 11:40] #569 closed

[2020-04-08 11:02] jono-alderson opened #580 "Product meta incorrectly output on category pages"
On product pages, we output a series of meta tags describing a product's price, availability, and other properties.

E.g.,
[code]

However, these tags are also output on category pages. Curiously, it looks as if the tags output on the category page don't necessarily reflect any of the products in that category. Regardless, they should be removed/disabled.

Tested with:
`Yoast SEO (beta) | release/

[2020-04-10 19:24] rmarcano commented on #545
The Elementor team suggested a filter that might fix this issue [here](https://github.com/elementor/elementor/issues/10748#issuecomment-598623002)

[2020-04-11 07:28] bobmulder commented on #545
Nice how you are referencing to my comment @rmarcano while I opened both of this issues for the same issue 😆

[2020-04-13 06:51] dariaknl commented on #580
@jono-alderson can you try to reproduce it on SEO Woocommerce version 13.0 RC2 (shared in test channel)?

[2020-04-13 07:22] dariaknl opened #581 "og:description always falls back to content if not empty"
### How can we reproduce this behavior?
1. Install and activate Yoast SEO 14.0 RC4.
2. Install and activate Woocommerce 4.0.1.
3. Install and activate SEO Woo 13.0 RC2.
4. Make sure you  have configured template for product categories:
<img width="654" alt="Screenshot 2020-04-13 at 09 05 53" src="https://user-images.githubusercontent.com/19681708/79100144-ff807900-7d65-11ea-8118-911eafbeb0aa.png">

[2020-04-13 08:06] dariaknl opened #582 "Deprecation warnings for all products"
### How can we reproduce this behavior?
1. Install and activate Yoast SEO 14.0 RC4.
2. Install and activate Woocommerce 4.0.1.
3. Install and activate SEO Woo 13.0 RC2.
4. Configure Knowledge graph with Organisation and logo.
5. Create new empty product, add only price.
6. Publish product and browse to it:
<img width="743" alt="Screenshot 2020-04-13 at 10 01 54" src="https://user-images.githubuser

[2020-04-13 08:26] dariaknl opened #583 ""article:publisher" output for products"
### How can we reproduce this behavior?

1. How can we reproduce this behavior?
2. Install and activate Yoast SEO 14.0 RC4.
3. Install and activate Woocommerce 4.0.1.
4. Install and activate SEO Woo 13.0 RC2.
4. Configure Knowledge graph with Organisation and logo.
5. Fill in Facebook url in SEO - Social.
6. Create new empty product, add only price.
7. Publish it and browse to products, check tags

[2020-04-13 09:06] dariaknl opened #584 ""article:modified_time" output for products"
### How can we reproduce this behavior?

1. How can we reproduce this behavior?
2. Install and activate Yoast SEO 14.0 RC4.
3. Install and activate Woocommerce 4.0.1.
4. Install and activate SEO Woo 13.0 RC2.
5. Create new empty product.
6. Publish it.
7. Go to edit your new product, add price.
8 Browse to product, check tags:
you get `property="article:modified_time"`

In the following currect co

[2020-04-13 09:06] dariaknl commented on #584
this issue seems the same as https://github.com/Yoast/wpseo-woocommerce/issues/583

[2020-04-13 09:26] dariaknl opened #585 "Multiple "og:image" misalignment"
### How can we reproduce this behavior?

1. How can we reproduce this behavior?
2. Install and activate Yoast SEO 14.0 RC4.
3. Install and activate Woocommerce 4.0.1.
4. Install and activate SEO Woo 13.0 RC2.
5. Create new product, add price and 2 image in Product gallery
6. Publish it and check` og:image` tags:

You get for og:
[code]

It is expected to get:
[code]

### Technical info
* WordPress

[2020-04-13 09:41] dariaknl opened #586 "Product tags output still different from current SEO Woo version"
### How can we reproduce this behavior?

While testing this https://github.com/Yoast/wpseo-woocommerce/pull/568 by executing steps from fixed issue https://github.com/Yoast/bugreports/issues/950 the following has been found.

Execute:
1. Install and activate Yoast SEO 14.0 RC4.
2. Install and activate Woocommerce 4.0.1.
3. Install and activate SEO Woo 13.0 RC2.
4. Set Product Brand
<img width="652

[2020-04-13 10:02] dariaknl opened #587 ""twitter:image" does not fall back to product gallery image"
### How can we reproduce this behavior?

1. How can we reproduce this behavior?
2. Install and activate Yoast SEO 14.0 RC4.
3. Install and activate Woocommerce 4.0.1.
4. Install and activate SEO Woo 13.0 RC2.
5. Create new product, add price and image in Product gallery:
6. Publish it and check` og:image` tags:

picture from Product gallery is picked up:

[code]
7. Go to SEO - Social - Facebook an

[2020-04-13 17:24] jdevalk commented on #580
Cannot reproduce on release branch.

[2020-04-13 17:24] #580 closed

[2020-04-13 17:25] jdevalk commented on #586
1. is not a problem.
2. is a problem though and needs fixing.

[2020-04-13 17:29] jdevalk commented on #587
Is this actually a regression? I kind of doubt that it is...

[2020-04-13 17:41] jdevalk commented on #584
Decided to keep this one, as Google uses it too.

[2020-04-13 17:41] #584 closed

[2020-04-13 17:42] jdevalk commented on #585
Not really an issue in `wpseo-woocommerce`, more in core Yoast SEO. Also, the alignment really doesn't matter all that much :)

[2020-04-13 17:42] #585 closed

[2020-04-14 05:00] dariaknl commented on #587
No, it is not a regression, it is new functionality which we have implemented in Yoast SEO 14.0: the fallback for `twitter:image` when OG is disabled. That is why the issue has label "fix before release"

[2020-04-14 08:03] #540 closed

[2020-04-14 08:56] IreneStr opened #589 "Create 13.0-RC3 when #588 and #581 have been fixed"
### What did you expect to happen?

### What happened instead?

### How can we reproduce this behavior?

Can you provide a link to a page which shows this issue?

### Technical info
* WordPress version:
* Yoast SEO version:
* Yoast SEO for WooCommerce version:

[2020-04-14 13:56] andizer commented on #582
Is fixed in #588

[2020-04-14 13:56] #582 closed

[2020-04-14 13:56] andizer commented on #583
Is fixed in #588

[2020-04-14 13:56] #583 closed

[2020-04-14 13:56] andizer commented on #586
Is fixed in #588

[2020-04-14 13:56] #586 closed

[2020-04-15 07:46] johannadevos commented on #581
Fixed in #592

[2020-04-15 07:46] #581 closed

[2020-04-15 08:18] #589 closed

[2020-04-22 11:41] hansjovis commented on #577
Fixed in https://github.com/Yoast/wpseo-woocommerce/pull/593.

[2020-04-22 11:41] #577 closed

[2020-04-23 07:57] hansjovis opened #594 "Release 13.0"

[2020-04-28 10:42] hansjovis commented on #594
13.0 has been released: https://github.com/Yoast/wpseo-woocommerce/releases/tag/13.0.

[2020-04-28 10:42] #594 closed

[2020-04-28 14:00] rmarcano commented on #547
Please inform the customer of conversation # 605752 when this conversation has been closed.

[2020-05-04 12:18] #587 closed

[2020-05-09 19:19] Pcosta88 commented on #469
Please inform the customer of conversation # 610099 when this conversation has been closed.

[2020-05-12 10:28] hansjovis opened #599 "Release WooCommerce SEO 13.1"

[2020-05-12 11:33] hansjovis opened #600 "Create WooCommerce SEO 13.2-RC1"

[2020-05-13 11:23] #599 closed

[2020-05-13 12:28] #600 closed

[2020-05-20 08:32] andizer opened #606 "Create WooCommerce RC 2"
Create new WooCommerce RC when https://github.com/Yoast/wpseo-woocommerce/pull/601 has been merged

[2020-05-20 09:12] #606 closed

[2020-05-22 13:30] dariaknl opened #609 "Uncaught Error: Class 'Yoast\WP\SEO\ORM\Yoast_Model' not found"
### How can we reproduce this behavior?
1. Install and activate Yoast SEO 14.2 RC2.
2. Install and activate Woocommerce.
3. Install and activate SEO Woo 13.2 RC2.
4. Make sure you have products created.
5. Go to Setting - Permalinks.
6. Change `Product permalinks` (for example to `Shop base`).
7. Click Save changes.

I caught this with Query monitor:

[code]

Can you provide a link to a page which

[2020-05-25 07:53] hansjovis commented on #609
Fixed in https://github.com/Yoast/wpseo-woocommerce/pull/610.

[2020-05-25 07:53] #609 closed

[2020-05-25 12:40] #555 closed

[2020-05-25 12:59] hansjovis opened #611 "Release 13.2"

[2020-05-25 17:04] rmarcano commented on #547
Please inform the customer of conversation # 614737  when this conversation has been closed.

[2020-05-26 10:58] hansjovis commented on #611
13.2 has been released:
https://github.com/Yoast/wpseo-woocommerce/releases/tag/13.2

[2020-05-26 10:58] #611 closed

[2020-05-27 09:04] #552 closed

[2020-06-01 10:06] zandergrin opened #613 "Fatal Error: Call to a member function image_output() on null"
### What did you expect to happen?
Product page to load

### What happened instead?
Error:

`http://site.com/content/uploads/2016/11/1IMAGENAMEjpg
Fatal error: Uncaught Error: Call to a member function image_output() on null in /var/www/site/public/content/plugins/wpseo-woocommerce/wpseo-woocommerce.php:527 Stack trace: #0 /var/www/site/public/wp/wp-includes/class-wp-hook.php(287): Yoast_WooCommer

[2020-06-02 09:31] Djennez commented on #613
I'm not sure which version you were running, but I doubt it was 13.2. `wpseo-woocommerce.php` has no more than 100 lines since 12.5, so it's hard to see how an error could occur on a 500+ line.

Anyway, as it's not reproducible, and you've been able to fix it yourself, I see no reason to keep this open. But if you, or anyone else, runs into this issue again, please do let me know and we'll look in

[2020-06-02 09:31] #613 closed

[2020-06-02 10:13] zandergrin commented on #613
I thought it would be worth mentioning - because commenting out the cited line (527) resolved the issue, as does reverting the plugin to a former version or disabling it entirely.

Note I also checked all the other plugins by disabling them for a conflict - there was none. It may be a conflict with the theme - which I didn’t check to be honest.

I can get the page up on a staging site if you like

[2020-06-02 11:27] Djennez commented on #613
@zandergrin please make 100% sure that you're running the latest version. Manually remove and reinstall the plugin if necessary. Again: in the latest version of the WPSEO WooCommerce plugin, `/var/www/site/public/content/plugins/wpseo-woocommerce/wpseo-woocommerce.php` should have no more than [61 lines](https://github.com/Yoast/wpseo-woocommerce/blob/13.2/wpseo-woocommerce.php). Since we don't su

[2020-06-04 12:27] Pcosta88 commented on #469
Please inform the customer of conversation # 618056 when this conversation has been closed.

[2020-06-04 13:21] Pcosta88 commented on #469
Please inform the customer of conversation # 617352 when this conversation has been closed.

[2020-06-08 07:41] johannadevos opened #615 "Create 13.3-RC1"

[2020-06-09 11:40] #615 closed

[2020-06-19 15:15] priscillamc commented on #469
Please inform the customer of conversation # 623115  when this conversation has been closed.

[2020-06-22 08:03] hansjovis opened #619 "Release 13.3"

[2020-06-22 10:35] #619 closed

[2020-06-29 04:37] pjrobertson opened #621 "Gallery image image:loc entries in product-sitemap are relative and not absolute"
### What did you expect to happen?
Sitemaps require absolute URLs in sitemaps. This plugin appears to be generating relative URLs for product gallery images.

[code]

### What happened instead?
Gallery image URLs are relative. Note that other image URLs in the sitemap are correct, it's just the gallery images.

### How can we reproduce this behaviour?

Can you provide a link to a page which shows

[2020-06-29 07:35] Djennez commented on #621
Hi @pjrobertson , can you please provide steps to reproduce the issue? Using the Gutenberg gallery block I am unable to reproduce this behavior.

[2020-06-30 01:58] pjrobertson commented on #621
Hi Djennez,

I am using the classic WP editor, not Gutenberg. Could that be the issue? I have a fairly large WP install so reproducing the error in a clean install may be tricky. If you confirm you cannot reproduce with the classic editor, then I will work on debugging from my end.

Thanks

[2020-06-30 09:22] Djennez commented on #621
Using the classic editor plugin, I created a gallery and had no issues with the URLs:
![image](https://user-images.githubusercontent.com/34372510/86108788-e9ac6580-bac3-11ea-9849-feb1c308e88e.png)

[2020-07-01 02:32] pjrobertson commented on #621
I tried disabling all plugins except Woocommerce, Yoast, Yoast-Woocommerce and switched to the default Twenty Twenty theme, yet the issue still persists. I'll need more time to debug.

However, after checking https://github.com/Yoast/wordpress-seo/blob/trunk/inc/sitemaps/class-sitemap-image-parser.php#L86 in the Yoast plugin, I note that it uses the `get_absolute_url()` function. Can this be used

[2020-07-02 00:32] galbaras opened #622 "Missing "SKU""
[Removing the product ID fallback for the SKU attribute](https://github.com/Yoast/wpseo-woocommerce/issues/498) may benefit some people, so those people should have the option, but for those that want to have the ID fallback, the default behaviour should remain.

Please only remove product ID when that's selected by the site owner/admin/dev.

### What did you expect to happen?

I expected Google n

[2020-07-09 18:37] Jesseadamwilson commented on #526
I'm experiencing the same issue as discussed here in this thread and also this conversation here: https://wordpress.org/support/topic/google-warning-about-pricevaliduntil/

Is there a fix? I have the Yoast WooCommerce add-on installed and I am still receiving error Missing field "priceValidUntil" in Google Search Console. Please advise.

[2020-07-09 19:23] Pcosta88 commented on #526
@JesserH

Hi, we understand you have our WooCommerce SEO add on plugin. We are happy to help resolve this issue. We ask that you please send us an email to support@yoast.com help. That way we can review the account and settings to help resolve the issue.

[2020-07-29 17:06] Pcosta88 commented on #312
https://github.com/Yoast/design/issues/312

[2020-07-30 08:42] #312 closed

[2020-08-12 02:42] galbaras commented on #622
Can you at least provide a filter for this?

Some business don't use SKUs. Since it's an unrealistic expectations by Google, giving them an unrealistic value should be good enough, if that's what the site owner/developer choose.

Just change [this line](https://github.com/Yoast/wpseo-woocommerce/blob/trunk/classes/woocommerce-schema.php#L249) to:

[code]

[2020-08-20 05:42] galbaras commented on #622
@Djennez I don't see this as a feature request. WooCommerce defaults to the product ID, and until a certain point, so did Yoast WooCommerce SEO. Then, the default was removed, and I'm asking for a way to get it back.

To me, rather than taking the ID away, a filter to remove it should have been introduced for those who want to remove it.

[2020-08-26 15:42] priscillamc commented on #469
Please inform the customer of conversation # 642772  when this conversation has been closed.

[2020-08-30 07:07] galbaras commented on #622
I'd like to remind the team that this plugin is a paid product. 10 days without a response is a little bit too long.

[2020-08-30 16:19] Djennez commented on #622
The GitHub repositories are not related to our support and are not bound by any SLA for our paid products. Please contact our support directly with any inquiries regarding paid services.

Your point has been made clear and as far as I can see it's a request to reconsider an intentional change to our product, which makes it a feature request in my eyes.

Pinging @jono-alderson for eyes on this.

[2020-08-30 22:48] galbaras commented on #622
When Google comments about sites it considered OK before, fixing it is not a feature request. This was a change to the way the plugin worked that was made without consulting the user base and without providing the option to keep the old behaviour, even if it's not the default.

[2020-09-08 13:47] ilgraziano commented on #526
hi. i still have the same problem. i contacted yoast support and this is the reply about this problem:
"The priceValidUntil field was removed in version 12.5 of the WooCommerce SEO plugin because it automatically included a default date, which did not make sense unless you add sale price dates in the WooCommerce product data. Our development teams are already working on an improvement for this. Un

[2020-09-09 00:27] galbaras commented on #526
Yes, I still have this issue too. Simply removing the default was not a good thing. Some sales have no known end date, e.g. "while stocks last" and setting/updating dates can be a hassle in a big shop.

This is not the only time the Yoast team took this type of liberty, which resulted in Google notices. May I suggest more community consultation, particularly for a paid product?

[2020-09-09 15:07] JesserH commented on #526
@galbaras I will take a closer look into this next Friday

[2020-09-14 08:03] jono-alderson commented on #526
Lots of moving parts here, so please accept my apologies if I miss anything. I think this is where we're at...

**On `priceValidUntil` values:**
- Historically, Yoast output a default `priceValidUntil` property on all `offer` schema pieces, with an (arbitrary) value of one year in the future. This was done to prevent warnings in Google's Structured Data Testing Tool (SDTT).
- We made a product dec

[2020-09-14 08:04] jono-alderson commented on #526
As such, I think that we can safely keep this issue closed. It's muddy, but I think that the decisions we've made are sensible, and the best solution to an imperfect situation.

[2020-09-14 08:05] jono-alderson commented on #526
And of course, for anybody who disagrees, you're welcome to use our API (https://developer.yoast.com/features/schema/api/) to customize your setup. I'd love to see some examples of edge-cases in the wild.

[2020-09-14 08:30] galbaras commented on #526
Thank for the clarifications, @jono-alderson . I'd love to use the Schema API, but struggle to find examples for this. Would you be so kind as to suggest sample code for setting the `priceValidUntil` property of a product?

[2020-09-14 09:21] jono-alderson commented on #526
Happy to help!

There's a section in our documentation about changing a graph piece's data - see https://developer.yoast.com/features/schema/api/#change-a-graph-pieces-data.

If you adapt this to `wpseo_schema_offer` (note that `priceValidUntil` is a property of the `offer`, not the `product`), then you can add your own logic in the related function to determine what changes you want to make to wh

[2020-09-16 04:13] galbaras commented on #526
Any news?

Is it possible that being a sub-type, the filter name is different, e.g. `wpseo_schema_product` (with more complex code)?

[2020-09-16 08:20] jono-alderson commented on #526
It looks like our filters don't alter the WooCommerce schema, because it outputs in a separate graph (in the footer of the page).
I've opened an internal ticket for us to look at this, but can't promise that it'll happen immediately. I'll keep you in the loop, though!

[2020-09-17 08:24] jono-alderson commented on #526
While we're looking into this, you could use WooCommerce's own filtering solution as a temporary patch.
Something like the following should do the trick!

[code]

[2020-09-17 09:35] galbaras commented on #526
This didn't work the last time I tried, because the Yoast plugin removes it completely

[2020-09-28 06:20] galbaras commented on #526
This issue isn't resolved and shouldn't be closed.

@jono-alderson can you offer working code, please?

[2020-09-30 09:36] kkmuffme opened #637 "Use of deprecated jquery syntax for .ready()"
### What did you expect to happen?
in woocommerce-seo.php you use: `jQuery( document ).ready( function ( $ ) {`

### How can we reproduce this behavior?
https://api.jquery.com/ready/

The currently correct way is:
`jQuery( function( $ ) {`

Please implement this small change.

### Technical info
* Yoast SEO for WooCommerce version: trunk

[2020-10-14 15:18] Pcosta88 commented on #469
related https://github.com/Yoast/featurerequests/issues/318

[2020-10-14 15:22] Pcosta88 commented on #469
related https://github.com/Yoast/featurerequests/issues/685

[2020-10-31 03:51] galbaras commented on #526
@jono-alderson is it on the team's radar that the filter isn't working? The function `change_product()` (see [here](change_product)) recreates the markup from scratch and offers no Yoast-specific filters, so the WC filter has no effect. Then, as you say, the filter `wpseo_schema_offer` has no effect either.

I need a way to modify the output. Please provide.

[2020-11-03 08:58] jono-alderson commented on #526
Hello,

I'm sorry that you're struggling with this; I appreciate that it's frustrating that our filters don't work here.
I've added the fix to our internal backlog, and it's on our radar. I'm hoping that we'll be able to provide you with an update and a solution soon!

[2020-11-20 19:17] Pcosta88 commented on #469
Please inform the customer of conversation # 669216 when this conversation has been closed.

[2020-12-03 00:58] galbaras commented on #526
@jono-alderson I see that the idea from @njeffers was not adopted, despite being simple and direct, but markup is now filterable.

How would I use a filter to revert `priceValidUntil` to its previous value, as computed by WooCommerce?

[2020-12-03 01:13] galbaras commented on #526
Also, the `wpseo_schema_product` filter should also take a second argument of `$product`, which is available in the context and will likely be required for proper filtering.

This issue should be reopened pending full implementation.

[2020-12-03 01:57] galbaras opened #655 "Schema markup only considers main product, not variations"
### What did you expect to happen?

The Schema markup output for variable products should show all the available variations, and include both the regular price and the sale price for each variation.

It may be good to provide two options: "variations as product models" and "variations as offers". See discuss [here](https://www.schemaapp.com/newsletter/schema-org-variable-products-productmodels-off

[2020-12-03 08:50] Djennez commented on #655
To prevent multiple threads about the same functionality I'm closing this as related to / duplicate of https://github.com/Yoast/wpseo-woocommerce/issues/508 and https://github.com/Yoast/featurerequests/issues/419 (internal only).

[2020-12-03 08:50] #655 closed

[2020-12-03 10:16] jono-alderson commented on #526
Hi @galbaras,

You can retrieve and work with the global $product variable, and test it against whatever business/product logic you need; e.g.,

[code]

[2020-12-04 06:17] galbaras commented on #526
I think that the global `$product` is the parent. I also think that the field to change is the `['priceValidUntil']` element of each one of  `$data['offers']`.

Also, when reverting to the WooCommerce default value, I don't need the sale price, so `$product->is_on_sale()` will suffice. The rest is adding a year to "now".

It would be great if you could offer a tested solution, given the high visib

[2020-12-09 08:31] galbaras commented on #508
Do the URLs have to be unique, or can the same URL be used for every offer?

Also, if variation URLs are exposed, but noindexed, is that a problem?

[2021-01-16 02:13] hassankarami commented on #526
Will this code solve the warning problem?

[2021-01-16 04:33] galbaras commented on #526
Only for items that have a sale price (`is_on_sale()`). However, Google seems to be expecting this everywhere, so to apply to all the products, just remove this: `&& $product->is_on_sale()`.

[2021-01-25 00:03] galbaras commented on #508
Seems like this has been done already. Variation names could be better, and the price appears twice, but having no URL is likely the best solution, because it should default to the main product URL.

BTW, variations can have their own "featured" images, but that's not reflected in the markup (yet).

[2021-01-28 13:58] JoseeWouters opened #664 "Remove deprecated methods (2021 cleanup)"
All deprecated functions that were deprecated before version 12.5 should be removed.

All deprecated methods in the plugin have something like: `@deprecated [version number]`

Last year's issue: [14175](https://github.com/Yoast/wordpress-seo/issues/14175)

[2021-01-28 17:12] amboutwe commented on #508
The `priceValidUntil` schema for variable products when the attribute is listed under Admin > Woo > Attributes. Custom attributes added directly to the product do not trigger the `priceValidUntil` schema.

[2021-01-28 17:12] amboutwe commented on #508
Please inform the customer of conversation # 688476 when this conversation has been closed.

[2021-01-28 22:35] galbaras commented on #508
How does this fit into this issue? Also, the Sale End Date (`priceValidUntil`) is a standard property of product variations, not an attribute, and certainly not a custom one, so this seems a weird choice.

[2021-02-01 12:48] johannadevos commented on #664
Closing this issue, a quick search by @andizer showed that there is nothing to deprecate in the past year.

[2021-02-01 12:48] #664 closed

[2021-02-19 19:45] Pcosta88 commented on #469
Please inform the customer of conversation # 698381 when this conversation has been closed.

[2021-03-02 11:07] jono-alderson commented on #469
Moved to Jira: https://yoast.atlassian.net/browse/PRODUCT-254

[2021-03-02 11:07] jono-alderson commented on #508
Moved to Jira: https://yoast.atlassian.net/browse/PRODUCT-254

[2021-03-12 16:50] CJ42 opened #668 "WPSEO_Utils::schema_output and WPSEO_Utils::schema_tag are deprecated since WPSEO 15.5"
### What did you expect to happen?

No warning messages.

### What happened instead?

Warning shown on single product page and `debug.log` file with `WP_DEBUG` and `WP_DEBUG_LOG` set to **true**

Here is the following warning message:

[code]

### How can we reproduce this behavior?

Have a basic Wordpress installation ready, with the following constants in `wp-config.php`:

[code]

1. Downloads a

[2021-03-15 06:45] Djennez commented on #668
You should probably update to the latest version of WooCommerce SEO (13.9 as of the moment of writing). The latest version does not use these deprecated methods. If updating doesn't fix this for you, there's other code in your site that is calling these methods.

[2021-03-15 06:45] #668 closed

[2021-03-15 10:58] CJ42 commented on #668
Thank you, that fixed the issue.

[2021-04-01 08:48] LeGiangAnh opened #673 "Is not compatible with PHP 8"
`Fatal error: Uncaught TypeError: Cannot access offset of type string on string in /home/outlet.ltd/public_html/wp-content/plugins/wpseo-woocommerce/classes/woocommerce-schema.php:535 Stack trace: #0 /home/outlet.ltd/public_html/wp-content/plugins/wpseo-woocommerce/classes/woocommerce-schema.php(163): WPSEO_WooCommerce_Schema->filter_reviews() #1 /home/outlet.ltd/public_html/wp-includes/class-wp-h

[2021-04-01 09:11] Djennez commented on #673
@LeGiangAnh can you please submit additional details as to how to reproduce this issue. I am running the plugin on PHP8 and I am not running into any errors. Your log points to a file which code also runs without issue for me. So at the moemnt, this seems like a site-specific issue.

[2021-04-01 09:26] LeGiangAnh commented on #673
Please check this link https://outlet.ltd/product/encharge/

[2021-04-01 09:33] Djennez commented on #673
What am I looking for on that page?

[2021-04-01 09:36] LeGiangAnh commented on #673
![image](https://user-images.githubusercontent.com/5027251/113274965-75c81380-9308-11eb-89e0-2b2bffd3b758.png)

[2021-04-01 10:00] Djennez commented on #673
Those are different messages to the one you initially reported. And there are still no reproduction steps to get to any of these results.

[2021-04-02 23:34] LeGiangAnh commented on #673
Reproduce steps:

- Install the plugin on PHP 8.0.2, Litespeed server
- See the errors

[2021-04-12 06:59] Djennez commented on #673
We use GitHub exclusively for well-documented bug reports or feature requests. This is not a support forum for questions and case-specific support. To receive free support for Yoast SEO we have the following channels:
- [Yoast Knowledge base](http://kb.yoast.com/)
- [Support forums](https://wordpress.org/support/plugin/wordpress-seo) on WordPress.org

If you are a premium customer, you may also co

[2021-04-12 06:59] #673 closed

[2021-04-26 05:41] iamazik commented on #469
Please inform the customer of conversation # 725430 when this conversation has been closed.

[2021-04-26 21:06] Ceylanalkan commented on #526
I have that same problem  https://urfayoresi.com/urun/urfa-ev-yapimi-aci-biber-salcasi/

[2021-06-24 08:42] brrrm commented on #547
Hi, Is there any progress on this? I need to hook into the schema as well but I can't find a way how to.

[2021-07-31 17:10] vladoa commented on #346
This is a very good use case @Pcosta88 !
@jdevalk you guys provided many filters here https://gist.github.com/amboutwe/811e92b11e5277977047d44ea81ee9d4 , including yoast_change_opengraph_type.

I am not sure if this filter actually covers what was initially suggested in this issue, but if not, it would be nice to add it.

[2021-09-12 11:55] emc2online commented on #469
any updates about when this would be available?

[2021-09-17 06:59] monbauza commented on #469
Please inform the customer of conversation # 821763 when this conversation has been closed.

[2021-11-03 17:15] ifnull commented on #279
```WordPress database error Got a packet bigger than 'max_allowed_packet' bytes for query UPDATE `wp_usermeta` SET `meta_value` = 'a:375:{i:0;a:2:{s:7:\"message\";s:719:\"<h2>Make sure you don\'t miss out on traffic!</h2><p>You just deleted a Product. Search engines and other websites can still send traffic to your deleted post. You should create a redirect to ensure your visitors do not get a 404

[2021-11-04 13:00] RicardoRDS commented on #526
@galbaras thanks, your code works just perfect. The warning is gone.

[2021-12-01 18:54] iamheretoscale opened #729 "Readability Error in Products"
### What did you expect to happen?
**"Subheading distribution"** and **"Paragraph length"** display correct improvements.

### What happened instead?
Count of numbers is wrong and display Zero "0". for example in any condition I've got this errors:

_Subheading distribution: 0 sections of your text are longer than 300 words and are not separated by any subheadings. Add subheadings to improve reada

[2021-12-02 07:39] Djennez commented on #729
@amirassari2002 this is working correctly on a local test installation. You might have a plugin conflict or another problem. Since you indicate to use our Premium plugin, please contact our support directly to investigate this, as this is not a valid bugreport for GitHub here.

[2021-12-02 14:56] amirassari2002 commented on #729
Hi @Djennez
i had tested it on sandbox again.
you can check it yourself on sandbox

Admin area URL: https://slidetoad.tastewp.com/wp-admin
Username: admin
Password: 07mh3FWtkCo

**Yoast seo free version** and **wpseo-woocommerce 14.4**

problem exist. (only you must check Product post type)

how did you check at your side?

sample text to see errors: (input on wordpress default editor)

`Lorem ips

[2021-12-04 11:25] suascat commented on #729
https://yoast.atlassian.net/browse/IM-1636

[2022-05-10 01:56] trentest commented on #526
@galbaras Apologies for silly question. This fix is to go into the functions.php or best at add with plugin like Code Snippets?

[2022-05-10 04:54] galbaras commented on #526
It can go into functions.php, a Code Snippets entry or a custom plugin. Personally, I use functions.php, but if you ever switch themes, you'll have to add the snippet to the new functions.php, whereas the other options will simply continue to work.

[2022-05-24 06:58] michaelbriantina commented on #508
Please inform the customer of conversation # 897629 when this conversation has been closed.

[2022-09-28 08:54] monbauza commented on #508
Please inform the customer of conversation # 943760 when this conversation has been closed.

[2022-11-15 12:43] Dekadinious opened #847 "FILTER_SANITIZE_STRING deprecated in PHP8"
[15-Nov-2022 12:38:47 UTC] PHP Deprecated:  Constant FILTER_SANITIZE_STRING is deprecated in /wp-content/plugins/wordpress-seo/src/conditionals/third-party/elementor-edit-conditional.php on line 22

[2022-11-18 18:12] Dekadinious opened #850 "Undefined offset should be handled"
18-Nov-2022 18:00:42 UTC] PHP Notice:  Undefined offset: 1 in /www/any/wp-content/plugins/wordpress-seo/inc/sitemaps/class-post-type-sitemap-provider.php on line 146
[18-Nov-2022 18:00:42 UTC] PHP Notice:  Undefined offset: 2 in /www/any/wp-content/plugins/wordpress-seo/inc/sitemaps/class-post-type-sitemap-provider.php on line 146
[18-Nov-2022 18:00:42 UTC] PHP Notice:  Undefined offset: 3 in /www